[2018-11-13 17:16] Jakub89 commented on #925
Running this test like this:

would test the same version, because on production `load-balancer` doesn't care about golem-messages patch versions. Sending `v2.15.0` messages to concent that work with `v2.15.2` should work just fine, and the response golem-messages version from concent is `2.15.2'.
So I would suggest to run this test like this:
[code]

[2018-11-15 09:29] #925 closed

[2018-11-15 09:32] Jakub89 commented on #824
someone already did it

[2018-11-15 09:32] #824 closed

[2018-11-15 10:10] PaweuB commented on #901
Pivotal:
https://www.pivotaltracker.com/story/show/161950029

[2018-11-15 13:53] #887 closed

[2018-11-15 16:16] cameel opened #936 "Forced acceptance use case: Concent pays from deposit without checking if the requestor really owes anything"
There's a bug related to payments in the "forced acceptance" use case implementation. The current code upon receiving `ForceSubtaskResults` only checks if requestor has enough deposit and immediately makes a payment. This is wrong in two ways:
- First, payment is due only if the subtask results have not been rejected.
- Second, Łukasz's specification states that in this use case payment is perform

[2018-11-15 22:21] cameel opened #937 "Prevent transaction nesting when using @atomic"
When we create transactions with `atomic()`, we usually rely on the fact that exiting the block commits the transaction. Only an actual commit releases locks and reveals `IntegrityErrors` caused by attempts to create two identical records in parallel.

Unfortunately one of the features provided by Django is that a call to `atomic()` when there's already a transaction in progress creates a savepoin

[2018-11-16 10:08] PaweuB commented on #937
Pivotal:
https://www.pivotaltracker.com/story/show/162008119

[2018-11-16 14:22] #896 closed, assigned to nobody

[2018-11-16 14:29] #898 closed

[2018-11-16 16:20] cameel opened #938 "Tweak operation order to guard against irreversible operations being executed twice"
Currently there are many places in our code where we mix database changes with irreversible side-effects like blockchain operations, adding tasks to work queue or making external HTTP requests. The problem is that database changes can be rolled back in case of a failure while those side effects cannot. There's no way to make the whole operation atomic (i.e. all or nothing).

Consider the situation

[2018-11-16 16:46] cameel opened #939 "Allow setting verification cost to zero"
Currently Bankster assumes that verification always has non-zero cost. We need to allow setting it to zero (in that case no claim against provider's account should be created).

When done, set it to zero in deployment.

Remove the default from base settings. It should have no default (except maybe in development settings).

[2018-11-19 11:11] cameel commented on #899
@rwrzesien What about my question?

[2018-11-19 12:06] rwrzesien commented on #899
@cameel No, I didn't check, I thought it was known when the blueprint was created.

[2018-11-19 14:02] rwrzesien opened #943 "Make Concent refuse Clients with the same Ethereum keys"
According to @shadeofblue comment, there should not be two clients using the same Ethereum key. If so, Concent should recognize this situation and act properly.

Changes in models:
1. Modify `ClientManager.get_or_create_full_clean` to require Ethereum key. Then, it should have following flow:

1a. If the `Client` with given `public_key` and `DepositAccount` both do not exist, create new `Client`.

[2018-11-20 10:21] dybi commented on #901
repoened since, we needed to downgrade `Golem Messages` version on `master`

[2018-11-20 12:51] #931 closed

[2018-11-20 13:13] cameel opened #947 "Add time synchronization instructions to the README"
Our end-to-end tests and Golem's integration tests highly depend on the system clock being synchronized. @pawelkisielewicz has just experienced problems due to his clock being off by 10 seconds. Please add a paragraph in the `README` that explains how to enable synchronization (e.g. with `timedatectl set-ntp true`) and why.

[2018-11-20 15:11] #947 closed

[2018-11-21 12:15] bartoszbetka opened #950 "Signing Service fails instead of printing a friendly error message when it gets an invalid base64 value"
There is a case when someone make mistake when running signing service by changing the order of `concent_cluster_host` and `concent_public_key` variables. By running:

[code]
The stacktrace look like this:
[code]
The error message indicates fault in base64 variables, but it's actually tries to decode "127.0.0.1".

[2018-11-21 12:42] cameel commented on #950
@dybi Proposed removing all positional arguments and replacing them with keywords. I'm fine with that but this is a separate problem. The issue here is that an invalid base64 value results in a fail and stacktrace. It should fail with a comprehensible error messages instead and indicate which parameter got the invalid value.

[2018-11-21 13:34] pawelkisielewicz opened #951 "Concent should answer DuplicateRequest if subtask in current or future state"
Currently in message handlers there is validated that ServiceRefused is returned only when subtask state in database is the same as "state in message". Eg. `ForceGetTaskResult` changes state to `FORCING RESULT TRANSFER` and there is currently validated, that if client sends `ForceGetTaskResult` and subtask is in state `FORCING RESULT TRANSFER` concent responses with `DuplicateRequest`.
Concent sho

[2018-11-21 14:55] PaweuB commented on #951
Pivotal:
https://www.pivotaltracker.com/story/show/162116452

[2018-11-21 15:04] Jakub89 opened #953 "Remove all positional arguments in `./signing_service.sh` and replace them with keywords."
`./signing_service.sh "85cZzVjahnRpUBwm0zlNnqTdYom1LF1P1WNShLg17cmhN2UssnPrCjHKTi5susO3wrr/q07eswumbL82b4HgOw==" "127.0.0.1"` cause error because position arguments are reverse. Changing to keywords arguments will make it easier to use for random people trying to deploy Signing Service.

[2018-11-21 16:49] PaweuB commented on #953
Pivotal:
https://www.pivotaltracker.com/story/show/162127921

[2018-11-22 09:42] pawelkisielewicz opened #954 "Ensure that `deposit_claim` is removed when transaction succeeded in blockchain"
In https://github.com/golemfactory/concent/pull/927 there is added callback function to remove `deposit_claims` when transaction is successful in blockchain. It was **not** checked end to end. It was not checked, that when transaction succeeded in blockchain `deposit_claims` is removed. It should be checked, in first step manually. There are two cases:
- transaction succeeded in blockchain -> `dep

[2018-11-22 09:46] Jakub89 opened #955 "Remove RELEASE-VERSION files"
Just small mistake on our part, we committed `RELEASE-VERSION` files during last revert, witch cause tests fails on deployment side.

[2018-11-22 10:05] #955 closed

[2018-11-22 10:20] #951 closed

[2018-11-22 16:03] PaweuB opened #960 "get_list_of_payments() does not search through the right range of blocks"
EDIT: Description rewritten by @cameel

Currently `get_list_of_payments()` does not use the correct range of block when searching for payments.

The range of blocks should be as follows:
1) When searching for regular payments or settlement payments:
    - start block: first block with timestamp >= `payment_ts`. Then filter out payments for which `closure_time` < `payment_ts`.
    - end block: last

[2018-11-22 16:04] dybi commented on #960
@PaweuB I know - just do it

[2018-11-22 18:20] dybi opened #962 "Fix timings in API tests"
Right now API tests are using "some values" for protocol constants: values from concent's end point should be used.

[2018-11-22 21:08] PaweuB opened #965 "One of the force payment e2e tests checks payments too far in the past"
This test checks payment too far in the past. This test will fail every time it will be started sooner than 12h from last run.

Test is in `./api-e2e-force-payment.py` and called `test_case_2d_send_correct_force_payment()`

[2018-11-22 21:28] PaweuB opened #966 "Add unit test for function `adjust_transaction_hash` in Bankster"
no description

[2018-11-23 13:38] pawelkisielewicz commented on #899
There was small problem, it is tested and fixed in https://github.com/golemfactory/concent/pull/967

[2018-11-23 13:42] pawelkisielewicz commented on #562
It was interrupted and never restored. Since this issue we fixed typing in other tasks so this issue can be closed.

[2018-11-23 13:42] #562 closed

[2018-11-23 14:23] dybi opened #968 "API E2E test cleanup"
Our e2e test need some tweaking - there is some redundancy, wrong type annotations, unused code, etc.

[2018-11-23 14:39] PaweuB commented on #962
This Issue should depend on https://github.com/golemfactory/concent/issues/828

Problem is in UC4, especially in test  `api-e2e-additional-verification-test.py` in function `test_case_3_test_for_invalid_time`.
Should use protocol constans like in `api-e2e-force-accept-or-reject-results-test.py`

[2018-11-26 10:41] pawelkisielewicz opened #970 "Api e2e tests with blockchain - use case 3"
It should be tested e2e that concent works properly with blockchain- founds are transferred correctly.

One of possible scenarios is situation, where there is one requestor and two providers. There is Use Case 3- after `message timeout` both providers send `ForceSubtaskResults` to concent. In the next step they (providers) send `ClientAuthorization` and concent finalizes payments.
There are two sc

[2018-11-26 10:48] #954 closed

[2018-11-26 11:13] PaweuB commented on #970
Pivotal:
https://www.pivotaltracker.com/story/show/162196236

[2018-11-26 11:17] PaweuB commented on #968
Pivotal:
https://www.pivotaltracker.com/story/show/162196327

[2018-11-26 11:33] cameel commented on #968
Looks more like cleanup than an upgrade. As is the task is too broad in my opinion. Could you list specific stuff that needs to be fixed?

[2018-11-26 11:41] cameel commented on #953
@Jakub89 This task changes Signing Service parameters in non-backwards compatible way. Before merging it you should talk with @bartoszbetka about how it will be deployed. Our README with instructions needs to be updated, our Docker files need to be changed and a new package with Signing Service needs to be built and distributed.

[2018-11-26 11:47] Jakub89 commented on #842
`receive-out-of-band` still exist in concent. We would need to check if any of golem test use this endpoint, so we could delete it.

[2018-11-26 12:07] PaweuB commented on #965
Pivotal:
https://www.pivotaltracker.com/story/show/162197245

[2018-11-26 12:09] PaweuB commented on #962
Pivotal:
https://www.pivotaltracker.com/story/show/162197271

[2018-11-26 12:11] PaweuB commented on #960
Pivotal:
https://www.pivotaltracker.com/story/show/162197293

[2018-11-26 12:14] PaweuB commented on #943
Pivotal:
https://www.pivotaltracker.com/story/show/162197343

[2018-11-26 12:16] PaweuB commented on #938
Pivotal:
https://www.pivotaltracker.com/story/show/162197386

[2018-11-26 12:38] dybi commented on #965
Not a bug

[2018-11-26 12:38] #965 closed

[2018-11-26 13:01] rwrzesien opened #972 "Move calculation of acceptance time overdue from Bankster to force payment handler"
Currently calculation of acceptance time overdue is being done in Bankster. It has no reason for being there, as all required information are already in force payment handler.

As it is in current flow, when this happens the view should return `ForcePaymentRejected` message with reason `TimestampError`.

[2018-11-26 13:13] PaweuB commented on #972
Pivotal:
https://www.pivotaltracker.com/story/show/162198463

[2018-11-26 16:12] rwrzesien opened #974 "Fix discard_claim operation error handling"
Currently `discard_claim` operation has some misplaced exception catching. The code looks like:

[code]

1. `DepositAccount.objects.select_for_update().get()` is the method which raises `DoesNotExist` exception, so it should be wrapped in `try/except`.
2. `delete()` does not raise that exception, so it shouldn't be wrapped in catching it.

[2018-11-26 16:19] PaweuB commented on #974
Pivotal:
https://www.pivotaltracker.com/story/show/162205946

[2018-11-26 16:33] dybi commented on #744
Updated with TC#2 and TC#3 description.
@cameel is

2. Test that sending correct `ForcePayment` when requestor has `0` funds on his deposit account, will result in concent sending `ForcePaymentRejected`response with reason: `NoUnsettledTasksFound`

really the desired behavior? `NoUnsettledTasksFound` seems a bit misleading in this case.

[2018-11-26 16:47] dybi commented on #970
for mi this is quite OK. However, this should be done after: https://github.com/golemfactory/concent/issues/744 (UC#5).

[2018-11-27 07:09] dybi commented on #165
@cameel, please update `FORCE PAYMENT`:

to indicate that `payment_ts` is now used instead of `timestamp`

[2018-11-27 11:40] PaweuB commented on #953
@cameel Would You provide an Issue for actions that is important to manage with in deployment?

[2018-11-27 12:07] cameel commented on #937
@rwrzesien noticed that `non_nesting_atomic()` does not work in unit tests because they use transactions to clean the database. We could switch to `TransactionTestCase` as a base class but that would make our tests about 8 times slower. We don't want that.

As a workaround my suggestion is to add a setting called `DETECT_NESTED_TRANSACTIONS`. `non_nesting_atomic()` should allow nesting if this set

[2018-11-27 12:17] dybi opened #977 "Bankster dosn't discard claim on its own"
There is a `finalize_deposit_claim()` function, defined ins `subtask_helpers.py` module, which contains logic for discarding claim upon confirmation of transaction. This logic should be part of `bankster.finalize_payment()` (should be part of `Bankster` API)

[2018-11-27 12:25] dybi opened #978 "broken logic in `finalize_deposit_claim`"
[code]

`bankser.finalize_payment(deposit_claim)` can return `None`, but from `payment_interface.on_transaction_confirmed()` PoV, `tx_hash` must be a string.

[2018-11-27 14:52] PaweuB commented on #977
Pivotal:
https://www.pivotaltracker.com/story/show/162236407

[2018-11-27 15:26] cameel opened #980 "The case with no payments from the requestor is not handled in the forced payment use case"
Originally reported in https://github.com/golemfactory/concent/pull/975#discussion_r236651316

The current code does not handle the case where the list of payments from the requestor found on the blockchain is empty.

https://github.com/golemfactory/concent/blob/e90c59c971a0e5c48e0529c586a4e8db1cae557d/concent_api/core/payments/bankster.py#L357-L370

Here's what Łukasz's spec says:

Obviously if t

[2018-11-27 15:49] PaweuB commented on #980
Pivotal:
https://www.pivotaltracker.com/story/show/162241739

[2018-11-27 15:51] PaweuB commented on #978
Pivotal:
https://www.pivotaltracker.com/story/show/162241797

[2018-11-27 15:55] cameel opened #982 "Wrong list of forced payments used in the payment use case"
There are two kinds of forced payments supported by `golem-smart-contracts-interface`:
- **forced subtask payments** (listed by `get_forced_subtask_payments()`). Payments performed by Concent in use cases 3 and 4 in order to pay for a specific subtask. If such a payment does not cover the cost of a subtask completely (e.g. because the requestor did not have enough deposit at the time), provider ca

[2018-11-27 15:59] PaweuB commented on #982
Pivotal:
https://www.pivotaltracker.com/story/show/162242082

[2018-11-27 17:03] cameel opened #983 "Concent responds with ForcePaymentRejected if there was a payment after one of the acceptances"
Originally reported in https://github.com/golemfactory/concent/pull/975#discussion_r236654251.

In the current implementation Concent responds with `ForcePaymentRejected` in use case 5 if not all payments found on the blockchain were made before the first submitted acceptance.

In other words, a situation like this provider's request will be rejected because there was a payment made after the firs

[2018-11-27 17:15] cameel opened #984 "Concent should reject force payment request if it includes acceptances from before the last settlement"
As described in #982, there are two types of forced payments. The one that Concent does in use case 5 settles everything done before it, even if it does not cover all the claims.

Currently Concent does not check when was the last time such a forced payment was made. Concent should find the last such payment and if it exists, compare its `closure_time` with the oldest `payment_ts` in submitted acc

[2018-11-28 07:33] #977 closed

[2018-11-28 07:33] #978 closed

[2018-11-28 09:35] PaweuB commented on #984
Pivotal:
https://www.pivotaltracker.com/story/show/162264942

[2018-11-28 09:41] PaweuB commented on #983
Pivotal:
https://www.pivotaltracker.com/story/show/162265003

[2018-11-28 12:29] #974 closed

[2018-11-28 12:35] #972 closed

[2018-11-28 12:51] #966 closed

[2018-11-29 09:54] #950 closed

[2018-11-29 15:53] rwrzesien commented on #984
@cameel

How can this be achieved? If this should be taken from result of call of `get_forced_subtask_payments`, then this can be done this way, because elements returned from `get_forced_subtask_payments` doesn't have `closure_time` attribute.

[2018-11-30 11:54] #982 closed

[2018-11-30 12:03] #980 closed

[2018-12-02 22:01] rwrzesien commented on #938
@cameel What do you think about `handle_send_force_payment` handler and its usage of `bankster.settle_overdue_acceptances`? It is currently being done before other database changes, but the logic after depends of the outcome of that call.

[2018-12-03 12:15] dybi opened #993 "Replace manual ownership validation with `verify_owners()` method"
In message handlers we manually extract and validate if particular message is signed with corresponding public key, ie:
[code]

whereas there is `verify_owners()` method in `golem-messages` that is specifically created for this purpose.

Replace "our" validation with validation via `verify_owners`

[2018-12-03 13:19] Jakub89 commented on #983
@cameel from what I understand, this bug comes down to delete one of our validations:
[code]
Should it be replace with something else?

[2018-12-04 09:40] PaweuB commented on #993
Pivotal:
https://www.pivotaltracker.com/story/show/162409339

[2018-12-04 11:35] pawelkisielewicz commented on #899
This event is reported when transaction is successful in blockchain. It was tested manually and the assumption is true.

[2018-12-04 14:03] rwrzesien opened #994 "Investigate "computation_deadline: TaskToCompute deadline mismatch" sentry exception"
This bug is related with sentry exception https://talkback.golem.network/sentry/concent/issues/34811.

This mismatch should not happen. Please investigate why it happened.

Probably there is an issue with comparing float vs int, or something similar.

It might be best to ask for `Subtask` and related `TaskToCompute` data from staging database to compare actual values which caused this exception.

[2018-12-04 14:32] cameel commented on #984
Please see the description of #982 I mentioned above. There are two types of forced payments and each has separate functions that create and list them. The one you need here is `get_forced_payments()`.

[2018-12-04 14:37] PaweuB commented on #994
Pivotal:
https://www.pivotaltracker.com/story/show/162415689

[2018-12-04 14:37] cameel commented on #983
I think you can just remove it as long as all the unit tests pass. Please be sure to add a test for the situation from the description and any others you can think of.

[2018-12-04 15:10] rwrzesien commented on #943
The problem occurred because in end-to-end tests for reach test we use predefined, harcoded ethereum keys, but different (generated) provider/requestor keys.

When code flow enters `claim_deposit` Bankster function, there is a call to `Client.get_or_create_full_clean`, which each time creates a new client because each time there is a different provider/requestor key. Much later this exact `Client`

[2018-12-04 15:18] rwrzesien commented on #984
@cameel In #982 I have replaced usage of `get_forced_payments` to `get_forced_subtask_payments` for the `TransactionType.FORCE` in `get_list_of_payments()` call. As I understand it is correct?

So that new call should happen in Bankster too, but before getting list of forced and batch transactions?

[2018-12-04 17:10] cameel commented on #984
Yes. It's one of the checks before doing the calculations but since it needs information from the blockchain, it must be inside Bankster. You can define a new exception class to report it.

You need to look for any settlement payments (I'm going to start calling forced payments returned by `get_forced_payments()` _settlement payments_ from now on to make it clearer which ones I mean) that are afte

[2018-12-05 09:40] dybi commented on #968
For the moment, (except for @kbeker  tasks: #744 and #970) no more improvemnts are being planned at the moment - we can close this.

[2018-12-05 09:40] #968 closed

[2018-12-05 12:47] cameel opened #996 "[Blueprint] Concent Settlement Algorithm"
## Concent Settlement Algorithm
This document describes the algorithm used by Concent in the "forced payment" use case (UC5) to determine the unpaid balance between the provider and the requestor.

### Payments between the requestor and the provider
![payments-requestor-provider](https://user-images.githubusercontent.com/137030/49504953-04ccda00-f87b-11e8-99e2-13ae7c851825.png)

The obligation to

[2018-12-05 13:37] rwrzesien commented on #993
Closing as a duplicate of https://github.com/golemfactory/concent/issues/563

[2018-12-05 13:37] #993 closed

[2018-12-05 13:49] dybi opened #997 "No logs in Force Payment handler"
Currently, in `handle_send_force_payment()` the are basically no logs, so debugging is impossible.

It should be changed - we need to log - **at least** -

[2018-12-05 14:34] dybi opened #998 "`test_force_payment_commited` from golem's concent acceptance tests is failing"
to reproduce:
`pytest scripts/concent_acceptance_tests/force_payment/test_payment.py::RequestorDoesntPayTestCase::test_force_payment_commited` on branch `chore-update-concent-acceptance-test-after-sra-update` (GM v2.17.0)

[2018-12-05 14:36] dybi opened #999 "`test_multiple_eth_accounts` from golem's concent acceptance tests is failing"
to reproduce:
`pytest scripts/concent_acceptance_tests/force_payment/test_payment.py::RequestorDoesntPayTestCase::test_multiple_eth_accounts` on branch `chore-update-concent-acceptance-test-after-sra-update` (GM v2.17.0)

[2018-12-05 14:38] dybi opened #1000 "`test_sra_not_signed` from golem's concent acceptance tests is failing"
to reproduce:
`pytest scripts/concent_acceptance_tests/force_payment/test_payment.py::RequestorDoesntPayTestCase::test_sra_not_signed` on branch `chore-update-concent-acceptance-test-after-sra-update` (GM v2.17.0)

[2018-12-05 15:03] PaweuB commented on #997
Pivotal:
https://www.pivotaltracker.com/story/show/162449451

[2018-12-05 15:04] PaweuB commented on #998
Pivotal:
https://www.pivotaltracker.com/story/show/162449483

[2018-12-05 15:06] PaweuB commented on #999
Pivotal:
https://www.pivotaltracker.com/story/show/162449516

[2018-12-05 15:07] PaweuB commented on #1000
Pivotal:
https://www.pivotaltracker.com/story/show/162449556

[2018-12-06 00:50] rwrzesien commented on #996
@cameel
1. Paragraph `Forced payments` first image, under S7 shouldn't be +10 GNT?
2. Paragraph `Settlement request` first image, under S1, blue line, shouldn't be +8 GNT?
3. We don't check following validations:

We don't check the `nor Concent` part.

4.

Please add info that this youngest payment time is actually T1.

[2018-12-07 08:39] dybi commented on #994
Probably it was due to the fact the we used to cast `compute_task_def['deadline']` to `int`. It was changed some time ago and since this issue had been seen long time ago I am assuming it's been already solved. Closing.

[2018-12-07 08:39] #994 closed

[2018-12-07 11:16] cameel commented on #939
Is this done?

[2018-12-07 12:55] cameel commented on #996
Yes. Fixed.

Not necessarily. The settlement payment settles all overdue payments no matter whether it was high enough or not. It might have been lower because there was not enough deposit.

But it's not the focus of this particular example so I changed it to +16 GNT. There was a mistake there though (so thanks for pointing this out): the double `S1` was unintentional. It should have been two sepa

[2018-12-07 13:01] cameel commented on #999
So the problem is that Concent in UC5 allows the provider to submit acceptances for subtasks which should be paid from different Ethereum accounts belonging to the requestor while it should refuse the request? Wasn't it already fixed in #545?

[2018-12-07 13:15] #1000 closed

[2018-12-07 13:21] cameel opened #1005 "The settlement algorithm does not do forced subtask payment matching"
As explained in the #996 blueprint, Concent should only take a forced subtask payment into account if the provider has submitted an acceptance with matching subtask ID. Otherwise it should not include its value in `LF`.

This was confirmed yesterday by @lukasz-glen:

[2018-12-07 13:26] cameel opened #1006 "The settlement algorithm does not accept acceptances signed by Concent"
As explained in the #996 blueprint, the provider must be able to submit acceptances signed not only by the requestor but also by Concent. Otherwise he won't be able to prove that he performed the work paid by forced subtask payments and Concent will count those payments towards other subtasks which is wrong.

[2018-12-07 13:32] cameel opened #1007 "The settlement algorithm does not treat acceptances covered by an existing payment that was too low as overdue"
As explained in the #996 blueprint, an acceptance should be treated as overdue if one of the following is true:
- It's been more than `PDT` since `payment_ts`.
- The requestor has already made a regular payment with `closure_time >= payment_ts`.

Currently Concent allows only the first condition which makes provider unable to submit acceptances that must be submitted because they won't be taken in

[2018-12-07 13:45] PaweuB commented on #1005
Pivotal:
https://www.pivotaltracker.com/story/show/162505371

[2018-12-07 13:46] PaweuB commented on #1006
Pivotal:
https://www.pivotaltracker.com/story/show/162505388

[2018-12-07 13:47] PaweuB commented on #1007
Pivotal:
https://www.pivotaltracker.com/story/show/162505420

[2018-12-07 17:00] cameel commented on #938
It's fine because in this case Concent first checks the blockchain to see if there are any settlement payments made before. If there are, it won't accept `SubtaskResultsAccepted` messages from before that.

Also, as long as `settle_overdue_acceptances()` creates and commits `DatabaseClaim` before the payment, Concent won't touch the deposit reserved in that use case.

The database changes related

[2018-12-07 17:13] cameel commented on #744
Based on Łukasz's documentation I think it should be `ServiceRefused` with `TooSmallRequestorDeposit`. Generally #996 is now the place where this is documented (see the table with prerequisite conditions). The Golem team has not accepted it yet but I'm going to update it if they tell us it should be something else.

[2018-12-07 17:40] cameel commented on #899
OK. I've checked in SCI sources and it does report only after `SCIImplementation.REQUIRED_CONFS` blocks.

BTW, the functions that return lists of transactions do not have this check they always take the first and last block to search. When using those we must remember to subtract that number ourselves.

[2018-12-07 17:40] #899 closed

[2018-12-10 08:38] pawelkisielewicz commented on #999
I asked @dybi about it, it was unclear for me as well. In this case there is one provider with two different Ethereum accounts and one requestor. According to expected message in test code Concent should answer `ServiceRefused`

[2018-12-10 18:38] pawelkisielewicz commented on #999
The problem is resolved after add commit 77c0fb41 `chore-update-concent-acceptance-test-after-sra-update`. The reason of bug was changing `provider_ethereum_public_key`'s in `task_to_compute`, where this field is made as property instead of change in `want_to_compute_task`. I added test in Concent for this case as well

[2018-12-10 18:38] #999 closed

[2018-12-11 13:05] #938 closed

[2018-12-11 13:55] cameel opened #1009 "Preventing multiple settlement payments for the same subtasks"
This task depends on #1017.

In #984 we have implemented a mechanism that checks if Concent has already issued a settlement payment and prevents the acceptances covered in that settlement from being submitted again. This mechanism has a critical flaw: the settlement payment may not be visible on the blockchain for several minutes or more because blockchain transactions are not instant. This gives

[2018-12-11 14:58] PaweuB commented on #984
test

[2018-12-11 15:13] #983 closed

[2018-12-12 09:48] dybi commented on #998
closing  as expected behaviour in the test was incorrect - test has been updated

[2018-12-12 09:48] #998 closed

[2018-12-12 10:00] dybi opened #1011 "`test_requestor_has_no_funds` acceptance test is failing"
Expected response from Concent is: `ServiceRefused` with reason `TooSmallRequestorDeposit`.

Actual response: `ForcePaymentRejected` with reason `NoUnsettledTasksFound`
To reproduce:
`pytest scripts/concent_acceptance_tests/force_payment/test_payment.py::RequestorDoesntPayTestCase::test_requestor_has_no_funds` on branch `chore-update-concent-acceptance-test-after-sra-update` (GM v2.17.0)

[2018-12-12 10:04] PaweuB commented on #1011
Pivotal:
https://www.pivotaltracker.com/story/show/162603467

[2018-12-12 11:23] #742 closed

[2018-12-12 11:54] #962 closed

[2018-12-12 17:17] cameel opened #1016 "Wrong closure_time in settlement payments"
Currently Bankster sets `closure_time` in a settlement payment to the current time:

[code]

[code]

This is wrong. As illustrated in the #996 blueprint, the `closure_time` of a forced payment must be equal to `payment_ts` to the youngest acceptance submitted by the provider.

This is similar to the bug discovered in #1015 by @Jakub89 but this time its in the payment itself.

[2018-12-12 17:36] cameel opened #1017 "Add closure_time to DepositClaim"
Currently `DepositClaim`s only store transaction ID and the amount to be paid. `closure_time` is an additional and very important bit of information that must be included in the transaction too. This information was not stored in the database until now because we only refer to it inside the settlement algorithm and its view and there it can be easily computed as `max(payment_ts)` of its acceptance

[2018-12-12 17:44] cameel commented on #1017
This is a change to what #479 blueprint describes. I'm going to update it but just in case, please drop a comment there with information what was actually implemented.

[2018-12-12 17:59] cameel opened #1018 "Confusing names in sci_backend"
Names in our `core.payments.backends.sci_backend` module may be confusing for someone who has read the #996 blueprint. Please change them to make the code easier to understand:
1) `make_force_payment_to_provider()` should be called `make_settlement_payment()`.
    - Also, if you see any comments or variables referring to "forced payments" (but watch out for "forced subtask payments" - it's not the

[2018-12-12 23:20] #1011 closed

[2018-12-13 08:48] PaweuB commented on #1016
Pivotal:
https://www.pivotaltracker.com/story/show/162632069

[2018-12-13 08:50] PaweuB commented on #1017
Pivotal:
https://www.pivotaltracker.com/story/show/162632106

[2018-12-13 08:51] PaweuB commented on #1018
Pivotal:
https://www.pivotaltracker.com/story/show/162632122

[2018-12-13 11:32] #997 closed

[2018-12-13 15:02] Jakub89 commented on #563
@rwrzesien not all messages are instance of `TaskMessage`. `ForcePayment` is not. I've made [issue](https://github.com/golemfactory/golem-messages/issues/233) some time ago, but get no response. Check our `get_validated_client_public_key_from_client_message()` in our `validation.py`, we have a workaround for it.

[2018-12-13 15:58] Jakub89 opened #1023 "[Sentry] 'Ensure this value is less than or equal to 2147483647.'"
https://talkback.golem.network/sentry/concent/issues/44675/

Default for django `IntegerField()` is 4-bytes value. We can replace it with django `BigIntegerField()` where we can store value up to "9223372036854775807", but it still might not be enough if someone decide to make a deposit for millions of GNT. @cameel ? @rwrzesien ? @dybi ?

[2018-12-13 16:00] rwrzesien commented on #1023
Can be `DecimalField(max_digits=78, decimal_places=0)` .

[2018-12-13 17:34] cameel opened #1024 "Bankster: Guard against passing the same claim twice to finalize_payment()"
Currently `finalize_payment()` does not check if the `DepositClaim` passed to it has `tx_hash` filled out or not. If it's filled out it will be ignored and overwritten.

This does not matter as long as Concent is using it correctly but I think we need at least a sanity check (`assert`) for that case.

Since Bankster is an internal API, it's also fine to use a normal `if` and raise an exception. Bu

[2018-12-13 17:37] cameel commented on #1017
Update: Add validation for `DepositClaim.closure_time`.

[2018-12-13 17:52] cameel commented on #1023
Yeah, it should be the same type we use in our transaction storage. I now don't 100% remember if we ended up using `Decimal` but if so, we can use it here too.

This applies to any other places where we're storing GNT or ETH amounts. If you're aware of any (please look through our models to be sure), they need to be fixed too.

[2018-12-13 22:57] rwrzesien commented on #1017
@cameel

This is currently available only in Django development version (https://docs.djangoproject.com/en/dev/ref/models/constraints/) and unless you know a nice clean way to do this inside model, without writing custom SQL in migration, I would prefer to do this in our classic way (in `clean`)

[2018-12-14 07:51] kbeker opened #1025 "Initialize SCIBaseTest before all `api-e2e` tests and pass it to every tests"
This issue is related with #744 and #970.
To shorten duration on SCI initiation tests should be run together. There should be created new file or `api-e2e-tests.sh` should be change to initialize SCI instance and pass it to all `api-e2e` tests (instead of initializing SCI every `api-e2e` test) . Whole SCI mechanism for creating accounts and checking transaction is already done in https://github.co

[2018-12-14 08:54] kbeker opened #1026 "Investigate how REQUIRED_CONFS in SCI could affect on tests duration"
`REQUIRED_CONFS` in current SCI config is set on `6`. It means that every transaction which is made by SCI needs 6 confirmation blocks to acknowledge that transaction is confirmed on blockchain.
At this moment time which is necessary to confirm every transaction is `6 * 15 seconds = 90 seconds` .
We need to check which configuration would be best for us and test every value of `REQUIRED_CONFS`.

W

[2018-12-14 10:49] PaweuB commented on #1023
Yes, it is in Pivotal since yesterday and @Jakub89 is assigned for this since yesterday (-;

https://www.pivotaltracker.com/story/show/16264040

[2018-12-14 12:11] rwrzesien commented on #943
TL;DR: We are waiting for decision from the Golem team if Concent should accept situation when two different clients use the same ethereum key.

[2018-12-14 17:36] cameel commented on #1017
Well, doing it in `clean()` is better than nothing but it's a shame that current Django does not let us create constraints. I was under impression that it was already added long time ago when they added a bunch of PostgreSQL-specific utils. Was it 1.6?

[2018-12-14 22:05] rwrzesien commented on #1017
Only unique is possible at the moment, we can always leave it as a separate issue and do it after upgrading Django if we are planning to.

[2018-12-17 13:15] cameel commented on #1006
Probably. But please give me some time to update the spec and issues. I don't want to confirm anything until I get a clear picture of the situation.

[2018-12-17 13:28] rwrzesien opened #1033 "Review model custom validation and replace it with Django validators."
Review model custom validation and replace it with Django validators.

Discovered in https://github.com/golemfactory/concent/pull/1030.

[2018-12-17 13:30] #1023 closed

[2018-12-17 15:58] Jakub89 opened #1034 "[Sentry]force_subtask_payment.value is Decimal not integer"
https://talkback.golem.network/sentry/concent/issues/44712/

[2018-12-17 16:56] cameel commented on #1034
@Jakub89 When reporting stuff from Sentry, could you provide more details? An issue should be self-contained. It should be possible to understand the problem even without access to Sentry. Your title only says what the error message is but does not say what problem is causing the error. This won't help anyone when checking if the fix is correct in the review or when trying to explain in the change

[2018-12-17 16:57] cameel commented on #1034
BTW, you should also add the `not-in-pivotal` label so that @PaweuB can find it.

[2018-12-17 18:16] cameel commented on #960
I have updated the description with stuff from my comment above. I've also added the information that this function does not really need to return forced subtask payments.

Below the old description in case someone is confused by the comments here:

[2018-12-17 18:26] cameel opened #1036 "Settlement algorithm should reject acceptances with large difference between timestamp and payment_ts"
The requestor must never use `SubtaskResultsAccepted.timestamp` older than the `closure_time` of his most recent regular payment. The problem is that this condition is impossible to enforce for the provider and when such an acceptance gets to Concent, it's too late to enforce it (requestor might have made other payments and there's no way to tell which one was the most recent at the time).

We don

[2018-12-17 18:50] cameel commented on #982
Unfortunately looks like I was wrong here. After discussion with Łukasz it turns out that `LF` should contain settlement payments after all. We'll need to revert this. But please keep any tests (if any). Just change the expected results.

[2018-12-17 18:52] cameel commented on #984
Update: After discussion with Łukasz it turned out that the acceptances from before the last settlement should be allowed after all. That's because the list of forced payments we take into account is supposed to contain settlement payments, not forced subtask payments.

[2018-12-17 18:52] #984 closed

[2018-12-17 18:53] cameel commented on #1006
I'm closing it. Concent does not issue acceptances in UC3 and UC4 after all. It's not necessary because UC5 is not supposed to take forced subtask payments into account as I previously thought.

[2018-12-17 18:53] #1006 closed

[2018-12-17 18:54] cameel commented on #1005
Since it turned out that `LF` is supposed to contain settlement payments, not forced subtask payments, we do not need payment matching. Concent never really checks those payments. I'm closing this issue.

[2018-12-17 18:54] #1005 closed

[2018-12-18 11:10] cameel opened #1037 "Nonce does not get incremented if `settle_overdue_acceptances()` fails after the payment"
We have encountered a situation in which `settle_overdue_acceptances()` fails due to a validation error when it's trying to save a `DepositClaim` and this makes `DatabaseTransactionStorage`'s changes to `GlobalTransactionState.nonce` disappear. In our case the next transaction after the failure still tried to use the same nonce.

Please try to reproduce this situation and fix the problem. It's ser

[2018-12-18 11:47] PaweuB commented on #1037
Pivotal:
https://www.pivotaltracker.com/story/show/162728443

[2018-12-18 13:59] PaweuB commented on #1034
Pivotal:
https://www.pivotaltracker.com/story/show/162731071

[2018-12-18 14:39] PaweuB commented on #1009
Pivotal:
https://www.pivotaltracker.com/story/show/162732368

[2018-12-18 14:42] PaweuB commented on #1024
Pivotal:
https://www.pivotaltracker.com/story/show/162732447

[2018-12-18 15:07] #1024 closed

[2018-12-18 15:43] dybi commented on #1037
Ok, I guess I have found the problem...
in `settle_overdue_acceptances()`:
[code]
Then, in `make_force_payment_to_provider()`:
[code]
Then, in `force_payment()` we call `_create_and_send_transaction()` which calls `_sign_and_send_transaction()` which calls `_storage.set_nonce_sign_and_save_tx(self._tx_sign, tx)` from `DatabaseTransactionsStorage`:
[code]
The last function is wrapped in transaction

[2018-12-18 16:54] cameel commented on #1037
So that's what I suspected. In that case we need to change the way transactions are run. `settle_overdue_acceptances()` must make sure it makes payment after it commits its own transaction. It should:
1) Create a `DespositClaim` without `tx_hash` in the transaction that holds a lock on the `DepositAccount`.
2) Commit the transaction.
3) Make payment with `make_force_payment_to_provider()`.
4) Upda

[2018-12-18 17:11] cameel commented on #1037
As always there's the problem of "what happens if the payment fails". If step 3 raises an exception, we're left with a `DepositClaim` that will never be associated with a transaction or removed.

We could try to do limit the damage, e.g. by catching the exception, removing the claim and reraising - but you can't really be sure if the transaction was actually created or not. The failure may have oc

[2018-12-18 17:44] cameel commented on #1009
I started wondering if we should maybe take into account claims that are not yet finalized (i.e. do not have a transaction). But I think ignoring them is better. Below is my rationale in case anyone is interested. I think it would be a good idea to create a test case for this.

Let's assume that requestor's deposit is 100 GNT, there's an unfinalized claim from UC3 for 50 GNT and the provider start

[2018-12-19 09:07] PaweuB commented on #1026
Pivotal:
https://www.pivotaltracker.com/story/show/162753416

[2018-12-19 09:55] PaweuB opened #1039 "Revert changes from #982 so that the list of forced payments in UC5 is the list settlement payments again"
In #982 we have changed the implementation of `settle_overdue_acceptances()` to construct the list of forced subtask payments and use that list in the calculation. Turns it it was wrong. The previous code was correct. The list should contain settlement payments after all.

Revert the implementation changes but keep all the other stuff done in that pull request like tests or refactoring.

[2018-12-19 10:38] PaweuB commented on #1039
Pivotal:
https://www.pivotaltracker.com/story/show/162755341

[2018-12-19 20:17] cameel commented on #1025
Could you explain the proposed solution in more detail? From this description I have no idea how `api-e2e-tests.sh` is going to look like. And who is supposed to run it and when.

[2018-12-20 10:36] #744 closed

[2018-12-20 10:36] #970 closed

[2018-12-20 13:14] dybi commented on #960
@cameel, how does this relate to current implementation of `settle_overdue_acceptances()`, where:
[code]
?

[2018-12-20 13:49] dybi commented on #803
still valid, priority `low`

[2018-12-20 13:50] PaweuB commented on #415
Pivotal:
https://www.pivotaltracker.com/story/show/158064697

[2018-12-20 14:31] dybi commented on #805
not valid anymore, must have been refactored. Closing

[2018-12-20 14:31] #805 closed

[2018-12-20 14:34] dybi commented on #807
still valid, priority `moderate`

[2018-12-20 14:36] #901 closed

[2018-12-20 14:37] dybi commented on #808
still valid, priority `moderate`

[2018-12-20 14:39] dybi commented on #809
still valid, (method is being used, just one line of it -> `return False` is not tested), priority `low`

[2018-12-20 16:40] cameel opened #1044 "Payment report"
Currently checking if Concent has really paid out the correct amount in all use cases is very tedious and we never do this when testing. It's however crucial if we want to verify that it's working correctly. The goal of this task is to add a custom page in the admin panel that compares Concent's responses (stored in the database) with payments available on the blockchain and reports any discrepanc

[2018-12-21 10:20] dybi commented on #810
not valid anymore - there is 98% coverage ATM, closing.

[2018-12-21 10:20] #810 closed

[2018-12-21 10:46] dybi commented on #812
still valid, priority `moderate`

[2018-12-21 10:47] Jakub89 commented on #1036
@cameel I think it's going to be better if I add this validation in GM. I'll move issue description there.

[2018-12-21 10:56] dybi commented on #813
1) `is_base64` - seems to be a dead code - I couldn't find any usages

still valid; priority `low`

[2018-12-21 11:06] PaweuB commented on #1044
Pivotal:
https://www.pivotaltracker.com/story/show/162808103

[2018-12-21 12:36] #1033 closed

[2018-12-21 13:50] cameel commented on #960
- `get_list_of_payments()` currently does not take `REQUIRED_CONFS` into account. It should.
- `get_list_of_payments()` currently does not filter out payments with `closure_time` that's too old. But I think `settle_overdue_acceptances()` does it afterwards so it could be left as is.
    - This filter could be moved into `get_list_of_payments()` though because we don't really need the low level ope

[2018-12-21 21:03] cameel commented on #996
Blueprint updated, based on discussions from Rocket and e-mail. Biggest changes:
- `LF` contains settlement payments, not forced subtask payments. This forced changes in lots of other places
- Conditions 8-10 under "Settlement request" have been changed.
    - It's no longer forbidden to submit acceptances from before the last settlement.
    - New requirement: `payment_ts - timestamp| <= 15 minut

[2018-12-22 10:41] #937 closed

[2018-12-22 19:12] dybi opened #1046 "Concent doesn't handle "JPEG" format correctly in ComputeTaskDef in Verification Use Case"
this is connected with sentry report: https://talkback.golem.network/sentry/concent/issues/44745/?query=is:unresolved

[2018-12-28 10:58] #804 closed

[2019-01-02 14:02] #1046 closed

[2019-01-04 10:16] jiivan opened #1049 "GM Version checking doesn't work"
To reproduce, run `pytest -vs --maxfail=1 --lf scripts/concent_acceptance_tests/force_payment/test_payment.py`
Result:
[code]

Analysis:
Local GM version is `2.21.1`, remote version is `2.17.0`. Concent service acts as if those versions are compatible, hence it doesn't understand new message nesting protocol.

[2019-01-07 08:58] PaweuB commented on #1049
Pivotal:
https://www.pivotaltracker.com/story/show/163016112

[2019-01-07 12:12] #1009 closed

[2019-01-07 12:12] #1039 closed

[2019-01-07 12:32] cameel commented on #1049
Just to clarify: this check should be performed by the router that kicks in before you even get to the cluster.  But currently that can only be enabled if we have exactly two clusters. Otherwise routing is disabled and there are no checks. On staging we have only a single version right now. I've added an issue to make it work the same way no matter whether we have one or two versions available: ht

[2019-01-07 12:44] kbeker opened #1051 "Missing check for version of nested messages during handling messages from database"
Quote from https://github.com/golemfactory/concent/issues/857 blueprint:

[2019-01-07 12:49] kbeker commented on #1049
@cameel Your right, my bad, edited.

[2019-01-07 12:51] rwrzesien opened #1052 "Investigate why `conductor.task.blender_verification_request` was processed by `concent` queue"
Original sentry issue
https://talkback.golem.network/sentry/concent/issues/44786/?query=is:unresolved

For some reason `conductor.task.blender_verification_request` was processed by `concent` queue, even if we have routes defined in `concent_api.celery` as

[code]

This cause lack of connection to `storage` database and ended in sentry exception.

Please try to reproduce the error locally by:
- ru

[2019-01-07 12:57] PaweuB commented on #1051
Pivotal:
https://www.pivotaltracker.com/story/show/163020955

[2019-01-07 12:59] PaweuB commented on #1052
@bartoszbetka Would You provide an Issue in deployment repo?

[2019-01-07 15:22] rwrzesien opened #1053 "Fix `non_nesting_atomic` to verify transaction nesting at runtime instead of on startup"
Original sentry issues:
https://talkback.golem.network/sentry/concent/issues/44786/
https://talkback.golem.network/sentry/concent/issues/44785/

Currently `non_nesting_atomic` is implemented wrongly that it calls `get_connection(using)` during server startup. This cause it to try to connect to databases that are not available for certain Concent features (ie. `verifier`). It should call it only du

[2019-01-07 15:22] rwrzesien commented on #1052
Closing as the cause of original issue is different and described in https://github.com/golemfactory/concent/issues/1053.

[2019-01-07 15:22] #1052 closed

[2019-01-07 15:57] cameel commented on #1049
Update: on the standup today we agreed that instead of `ServiceRefused`, Concent should return HTTP 404 when the version does not match.

[2019-01-07 16:39] cameel commented on #1051
Update: we'll respond with HTTP 404 if versions are not compatible.

[2019-01-08 00:34] rwrzesien commented on #857
@cameel

Until we implement https://github.com/golemfactory/concent/issues/1044.

[2019-01-08 13:30] PaweuB opened #1055 "`ForcePayment` test fail"
`ForcePayment` test fails when performed.
As described below:

[code]

[2019-01-08 13:46] PaweuB commented on #1055
Please consider:
```pytest scripts/node_integration_tests/tests/test_concent.py::ConcentNodeTest::test_force_payment```
in branch https://github.com/golemfactory/golem/tree/2526-force-payment-full-node-tests

[2019-01-08 16:58] cameel commented on #1055
Please try to make the titles more specific. You could have at least included the exception name.

[2019-01-09 12:03] rwrzesien commented on #1044
@cameel Lest discuss here about how the report can work with supporting multiple versions of golem-messages. I was thinking about it and maybe we could simply store message fields required for the report as additional fields in database, so there will be no need for deserialization? Or in more hardcore version, store the whole message, as we planned at some point in the past, but lest just start w

[2019-01-09 12:41] PaweuB commented on #1055
I'm learning by examples ;)

[2019-01-09 13:52] dybi opened #1056 "get_or_create_with_retry() will not be able to handle all IntegrityErrors it's supposed to"
The issue originates from comment: https://github.com/golemfactory/concent/pull/1041#pullrequestreview-187567211

EDIT by @cameel:
"Get or create" operations implemented at the application level always have an inherent race condition. They need to check if the object exists and then either fetch or create it - but there's a short time gap between the check and the creation. Another process running

[2019-01-09 14:56] shadeofblue commented on #943
@PaweuB @rwrzesien for now, we can assume that two different clients won't have two different ethereum keys ... but generally, in the long run, that assumption may prove incorrect

[2019-01-09 15:53] #1037 closed

[2019-01-10 00:45] rwrzesien commented on #1044
@cameel

In SCI interface there is method `get_covered_additional_verification_costs` which allows to retrieve list of transactions but only for single address, there is no possibility to get it for pair, which makes sense, because payment is not being done between the pair. But to get a list of transactions being related with subtasks related with given pair, I have to get all of them for client

[2019-01-10 10:17] PaweuB commented on #1056
Please provide more information about Issue.
Is it critical?

[2019-01-10 10:18] PaweuB commented on #1055
Pivotal:
https://www.pivotaltracker.com/story/show/163114099

[2019-01-10 11:04] kbeker opened #1058 "Change `ZERO_SIGNATURE` to factory method `sign__privkey()`"
Now in tests we init messages signature using `fake_sig()`:

[code]

Factories from Golem Messages contains method to signing messages during it initialization. All places where `ZERO_SIGNATURE` is used should be changed to:
[code]

[2019-01-10 11:21] PaweuB commented on #1058
Pivotal:
https://www.pivotaltracker.com/story/show/163115199

[2019-01-10 11:31] kbeker commented on #1025
@cameel I edited issue to my idea how it should be done.

[2019-01-10 11:47] cameel commented on #1056
@PaweuB I have added a proper description.

[2019-01-10 13:25] kbeker opened #1060 "Report errors caused by blockchain client desynchronization to the Golem client with HTTP 502"
[GolemSmartContractInterface](https://github.com/golemfactory/golem-smart-contracts-interface) has [is_synchronized()](https://github.com/golemfactory/golem-smart-contracts-interface/blob/3ded8bc46937ce97218ca03f14f1d38c0f7a7fd7/golem_sci/client.py#L268) method which return `True` or `False`.

There should be added validation which would tell if SCI instance is synchronized or not. If SCI instance

[2019-01-10 13:33] Jakub89 commented on #1036
Close via: [#301](https://github.com/golemfactory/golem-messages/pull/301)

[2019-01-10 13:33] #1036 closed

[2019-01-10 13:52] cameel commented on #1060
This is not really a validation. Validations are for input. Validation implies that the client can make sure that his data is valid and successfully pass all the checks. That's not the case here. Desynchronized blockchain client is a failure of an internal (or external) service.

Don't check it with `is_synchronized()`. Even if you check it, the client may lose synchronization just after the check

[2019-01-10 15:14] rwrzesien commented on #1044
@cameel

I think this should a warning, not error. The setting might change after payment was done.

[2019-01-10 18:23] cameel commented on #1044
@rwrzesien

My first idea was to simply ignore messages that cannot be decoded and display a warning for the pairs for which we don't have full information. But your idea with putting the extra information on our tables is better. I think we should do it. The only question is where exactly.

It depends on how many fields we need to add. As far as I can see, the only messages we need to access to c

[2019-01-10 23:30] #1053 closed

[2019-01-10 23:47] rwrzesien commented on #850
@cameel Should reaching SigningService and increasing its daily threshold info be counted as "irreversible operation"?

[2019-01-11 00:50] rwrzesien commented on #1044
@cameel

How can those two be matched? Settlement payments are retrieved from `sci.get_forced_payments()` which returns list of `ForcedPaymentEvent`, which doesn't have `subtask_id`, only `tx_hash`.
Or do you mean forced payments?

[2019-01-11 08:38] dybi commented on #960
@cameel,

    start block: first block with timestamp >= `payment_ts`. Then filter out payments for which `closure_time` < `payment_ts`.

quite frankly, it should be:

1. If payment is done in moment X, I assume it is not possible to have it in block which was published in the very same moment X
2. the helper function from `golem_sci` is `get_first_block_after`

[2019-01-11 10:44] PaweuB commented on #1060
Pivotal:
https://www.pivotaltracker.com/story/show/163144000

[2019-01-11 16:15] cameel commented on #1044
No, I do mean settlement payments.

You might not be able to match them exactly in some situations but we can't do anything about it. I don't expect this report to be able to handle all situations perfectly. The cases where something is certainly wrong and those where everything is OK should be handled perfectly but there's a bit of a grey area between them. In this grey area you should strive to

[2019-01-11 17:01] cameel commented on #960
@dybi

No, it should be `block timestamp >= payment_ts`.

Block timestamp is not the time when block was published. It's **usually** close to the time of the publication of the **previous** block. But it can be inaccurate or even manipulated by the miner so we don't want to assume this. We really only care about `closure_time` and the only assumption about block timestamps we can make is that `clo

[2019-01-11 22:37] rwrzesien commented on #1044
@cameel I have removed that comment before you have answered, please take a look on https://github.com/golemfactory/concent/issues/1044#issuecomment-453323396.

[2019-01-14 09:08] #1051 closed

[2019-01-14 09:57] cameel commented on #1044
Already answered

Oh, I thought that `SubtaskResultsSettled` contains `amount_pending` and `amount_paid` just like `ForcePaymentCommitted` and I meant that you have to add them to be able to compare the amount from the message with the amount from the payment.

In that case we cannot check this. I'm removing this from the description.

For `ForcePaymentCommitted` you have `amount_pending` and `amo

[2019-01-14 10:41] pawelkisielewicz commented on #1049
Fixed in concent and should work properly. It was fixed in https://github.com/golemfactory/concent/pull/1057, didn't close automatically

[2019-01-14 10:41] #1049 closed

[2019-01-14 13:58] rwrzesien commented on #850
@cameel
2.

I have added to issue description that this should be investigated first, and then depending on the outcome of this investigation the rest of the issue might be redefined. Is that ok?

3.

But we are not able to determine if request reached SigningService or not. This means that every request sent by Callback should be treated as irreversible, so we should never make retry.

[2019-01-14 15:00] cameel commented on #850
I don't think we'll need to redefine it based on the outcome. We should retry either way. If we discover behavior that could break stuff we were not aware of until now, that's a separate concern. Create separate issues for that.

You're right. We cannot treat it that way. Concent should treat SS as (mostly) stateless because otherwise it would not be safe to retry. So let's say that operations are

[2019-01-14 15:09] Jakub89 opened #1062 "api-e2e-force-accept-or-reject-results-test.py case 2a is not complete"
Issue happen  when trying to deploy concent on cluster. CI block deployment because script that runs all e2e tests fails, because `api-e2e-force-accept-or-reject-results-test.py` creates unresolved  `DepositClaim` that effect the outcome of `api-e2e-force-payment.py`.

[2019-01-14 15:30] rwrzesien commented on #1062
@Jakub89 Could you please provide more info about the effect? Does it block some amount of the deposit?

[2019-01-14 15:39] Jakub89 commented on #1062
@rwrzesien Yes, when we have unresolved DepositClaim(), it's being add to sum of payments in `force-payment` test. So the bug is just wrong(other then we expect) value that's being claimed from requestor.

[2019-01-14 15:41] rwrzesien commented on #943
Changed description on how to handle situation with two different clients trying to use the same Ethereum key.

[2019-01-14 15:53] rwrzesien commented on #850
@cameel Description updated, I have left the possibility to define number of retries too, it should not be difficult but will give extra option to increase/decrease retries through settings.

[2019-01-14 16:55] cameel commented on #850
OK. Having both options is fine as long as you can decide not to use one of them by setting `None`.

[2019-01-14 16:59] cameel commented on #850
I'd just create a simple setting for the timeout. The fact that we prefer to set it to request timeout - 1 is up to the admin. We'll set it to that in our deployment configs. It should still be possible to set a different timeout. I don't think we should try to do magic like inspecting gunicorn options.

I'm putting `sync with deployment` because after implementing it you should let @bartoszbetka

[2019-01-14 17:14] cameel commented on #943
Doing this would make it impossible to support one client having multiple Ethereum accounts. `DepositAccount` must stay.

[2019-01-15 00:38] rwrzesien commented on #943
@cameel Right, I forgot about this. I have rewritten the proposed solution.

[2019-01-15 01:04] rwrzesien commented on #850
Updated description on timeout as new Django setting.

[2019-01-15 07:50] dybi commented on #943
ok, so now we will need to generate the `requestor` / `provider` keys in our E2E tests? Is the mechanizm for that already implemented? @kbeker

[2019-01-15 08:09] dybi commented on #850
@cameel, @rwrzesien I still see the `SCI_CALLBACK_RETRIES` in the main description and still don't see the timeout definition? Has the main description been actually updated? ;)

[2019-01-15 09:54] #1062 closed

[2019-01-15 10:04] cameel commented on #943
#1025 is not implemented yet. As agreed yesterday, it's better to leave this task until we have #1025. Otherwise we'll lose the ability to run tests quickly in development.

[2019-01-15 10:54] dybi opened #1065 "Change concent tests so they use golem_messages.factories"
**PROBLEM**
Right now, may of messages we create for tests are created "in the old way", i.e. without usage of factories. This should be changed, as factories allow us to produce less boilerplate, have some fancy mechanism enforcing that message chain is cohesive, etc.

Migrating to factories would also result in cheaper (less time consuming) updates of our tests, when new version of golem message

[2019-01-15 10:59] rwrzesien commented on #850
@dybi

As discussed above, we agreed to keep both.

It is already there:
"Then add timeout to SCI callback when sending request to Middleman defined as new Django setting."

The setting name is up to implementer.

[2019-01-15 13:00] dybi commented on #1065
@PaweuB Maybe there is, but the simplest way of doing it would be:

[2019-01-15 15:18] PaweuB commented on #1065
@dybi Thanks my man! 🇦🇱

[2019-01-15 16:50] Jakub89 commented on #850
@cameel @rwrzesien

- I've added `time.sleep(60)` to `force_report` message handler

- run concent with: `gunicorn concent_api.wsgi:application --timeout 30`

- run `api-e2e-force-report-computed-task-test.py`

Gunicorn just restart concent server with:
[code]
So the rest of the code after `time.sleep()` was not touched.
From the client side, we get:
[code]

[2019-01-16 00:50] rwrzesien commented on #1044
@cameel

Why is this an error? We always create `SubtaskResultsSettled` and `SubtaskResultsRejected` for both requestor and provider.

[2019-01-16 07:42] kbeker commented on #943
@dybi @cameel it is implemented. `SCIBaseTest` gives generated keys for `provider` / `requestor`, but to do it in "fly" to generate new keys every `api-e2e-test` you need to add `--full_sci` flag

[2019-01-16 10:44] #1058 closed

[2019-01-16 10:59] cameel commented on #943
@kbeker I don't see a pull request linked there and the issue is still open.

[2019-01-16 11:07] cameel commented on #1044
Make it more than two.

It's there but I see that it's not explicit enough. I wrote "If an identical message was sent to both requestor and provider, it's enough to list one of them" and in that I assumed that at later steps you only deal with messages you have selected for your list. If there's a pair of these messages, one is redundant and can be ignored.

I'll make it clearer.

[2019-01-16 11:54] dybi opened #1068 "Move `get_first_block_from_timestamp()` to SCI"
this issue comes from: https://github.com/golemfactory/concent/pull/1067#discussion_r248250361

`get_first_block_from_timestamp()` could be moved to `SCI.BlockHelper` and after that some common code could be extracted, as this function is very similar to `SCI.BlockHelper.get_first_block_after`.

[2019-01-16 14:53] dybi commented on #1068
Not needed, as: https://github.com/golemfactory/concent/pull/1067#discussion_r248298266

[2019-01-16 14:53] #1068 closed

[2019-01-16 15:32] #960 closed

[2019-01-16 15:41] rwrzesien opened #1069 "Prepare django admin template for payment report"
This is created as a part of https://github.com/golemfactory/concent/issues/1044

Once the backend part of the report is ready, it should be displayed in admin panel. As the data is not taken from queryset, I think it would be necessary to create also a separate admin view along with the html template.

The general guidelines were defined in related issue:
1. Use colors. Mark wrong amounts, wrong

[2019-01-16 15:42] rwrzesien commented on #1044
Added creating admin view and template as a separate issue:
https://github.com/golemfactory/concent/issues/1069

[2019-01-16 17:41] cameel commented on #850
@Jakub89 You did not reveal a key piece of information. You determined that the `sleep()` instruction gets interrupted by `SystemExit(1)`. That's the mechanism that `gunicorn` uses to kill the worker.

So it probably just sends it `SIGTERM`. This means that it's not a "hard" kill. When you caught the exception the worker did not exit. This means that `finally` blocks and any other cleanup mechanis

[2019-01-17 11:34] dybi commented on #1055
@PaweuB, there is no such branch anymore...

[2019-01-17 12:33] PaweuB commented on #1055
@dybi Our Karor (@kbeker) helped me with branch finding ;)

https://github.com/golemfactory/golem/blob/b0.19/scripts/node_integration_tests/playbooks/concent/force_payment.py

[2019-01-17 13:06] PaweuB commented on #1065
Pivotal:
https://www.pivotaltracker.com/story/show/163287147

[2019-01-17 13:37] kbeker commented on #1065
**As a draft** It might be helpful:
[code]
and
[code]

[2019-01-17 15:22] shadeofblue commented on #1055
yeah, it was already merged into `b0.19` and `develop`

[2019-01-17 16:24] cameel commented on #486
@PaweuB This is still relevant and we're regularly getting reports on Sentry. What are our plans for fixing it? Now that we don't have whole views wrapped in transactions and we have `get_or_create_with_retry()`, this should be pretty straightforward.

[2019-01-17 18:20] cameel commented on #1060
@dybi I was told that SCI raises an exception in case of desynchronization. I haven't checked this myself. @kbeker @bartoszbetka @Jakub89 Does it? If it does not, we need to know what happens. Does the client accept the transaction? Does it fail silently?

@kbeker

Is this the right issue?

[2019-01-18 12:21] Jakub89 commented on #850
I've implemented this task a little different then issue suggested: [PR](https://github.com/golemfactory/concent/pull/1071)

The way @dybi explain it to me, is that we already have a timeout in `core/constants.py` in form of:
[code]
And now, depending on how long `SCI_CALLBACK_RETRIES_TIME` will be, that how many times retry will happen, or in other words how many times  `SCI_CALLBACK_MAXIMUM_TIME

[2019-01-18 14:11] rwrzesien commented on #1055
To reproduce this a fresh database should be used each time.

[2019-01-21 00:54] rwrzesien commented on #1060
Isn't it https://talkback.golem.network/sentry/concent/issues/37070/ ? If yes, I think it would be best to catch this exception directly in a place where SCI method is called (`core.payments.backends.sci_backend`), check the code, raise our custom exception, and handle it in decorators.

[2019-01-21 11:39] cameel commented on #1060
I don't think that's it. We keep track of `nonce` internally - it does not matter whether the client is out of sync or not.

[2019-01-21 11:46] #850 closed

[2019-01-21 12:44] rwrzesien opened #1075 "Replace raising SigningServiceMaximumReconnectionAttemptsExceeded in SigningService with logging"
We have recurring `SigningServiceMaximumReconnectionAttemptsExceeded` exception being raised and reported to Sentry, which was good when we wanted to synchronize connection, but now it might happen for various reasons and we could replace it with logging.

[2019-01-21 12:53] rwrzesien opened #1076 "Reverse order of validations in force payment handler."
Original Sentry issue: https://talkback.golem.network/sentry/concent/issues/40709/

It happened that `subtask_results_accepted` in `subtask_results_accepted_list` list has no `task_to_compute`. We should first call `validate_task_to_compute` before calling `are_keys_and_addresses_unique_in_message_subtask_results_accepted`. Currently both of those are called, but in reverse order.

After fixing th

[2019-01-21 12:57] PaweuB commented on #1075
Pivotal:
https://www.pivotaltracker.com/story/show/163361953

[2019-01-21 12:59] PaweuB commented on #1076
Pivotal:
https://www.pivotaltracker.com/story/show/163362084

[2019-01-21 13:36] cameel commented on #1076
@rwrzesien

Our workflow is to mark a Sentry report resolved as soon as you create an issue for it. We don't need it open in Sentry because we don't use it for tracking tasks. Only unresolved issues in Sentry should be the fresh ones where no one has decided whether to report or close them yet.

[2019-01-21 15:03] cameel commented on #1060
This is not coming from geth. It's raised by `get_first_block_after()` helper from SCI:

[code]

This happens when you call `get_first_block_after()` giving it a timestamp that's younger than anything than SCI can see on the blockchain.

We're giving it the timestamp of the acceptance sent by the provider. In theory it could be slightly in the future so we don't want an exception in this case. We

[2019-01-21 15:12] cameel commented on #1060
This happens when we're checking GNT balance of a deposit, not when we're making a payment. It comes directly from Geth, SCI only passes it through. Big desynchronization may indeed be a problem. It would give us the wrong balance.

Overall looks like none of these exceptions happens when we're submitting a transaction to the client. So we can assume that a desynchronized client will accept it jus

[2019-01-21 15:42] rwrzesien commented on #1076
After examining this further, it looks like the issue is already resolved in golem-messages, so I am closing this as resolved.

[2019-01-21 15:42] #1076 closed

[2019-01-21 16:12] rwrzesien opened #1077 "Avoid failing when the Ethereum client gets out of sync for a very brief period of time"
Concent should detect when there are small desynchronizations in SCI or if it is fully desynchronized and react properly:
1. If `SCI.is_synchronized` method returns False, raise custom exception, then handle it in decorator and return HTTP 502 response.
2. If `SCI.is_synchronized` method returns True ignore exceptions raised during method call like:
    - `ValueError` with message like `{'code': -

[2019-01-21 16:15] rwrzesien commented on #1060
Closing as there is no real problem here, and a new issue is created to fix small desynchronizations problem https://github.com/golemfactory/concent/issues/1077.

[2019-01-21 16:15] #1060 closed

[2019-01-21 16:19] rwrzesien opened #1078 "Remove a constraint in Subtask model that says that the requestor must be unique together with task_id"
Original Sentry issue: https://talkback.golem.network/sentry/concent/issues/57029

There is a constrain in Subtask model that requestor must be unique together with task_id. It should be removed, test for this case added, and any related failing tests fixed.

This also require blueprint uppdate https://github.com/golemfactory/concent/issues/139.

[2019-01-21 17:18] cameel commented on #1060
Just to make things clear: these exceptions do happen due to client desynchronization and the fact that they result in HTTP 500 (which indicates a random failure in Concent's Python code, possibly a bug) rather than HTTP 502 (which indicates a failure of another service it depends on) is a problem. But the new issue covers this and more.

We have decided that since `is_synchronized()` does not rep

[2019-01-21 18:02] cameel commented on #1075
Yeah. Detecting connection problems is the job of the monitoring system (meant for cluster admins), rather than error reporting system (meant for developers). This task is about freeing developers from this nagging report they can't really do anything about. Back when the setting for max reconnections in SS was being implemented I discussed the feature with @dybi. I'm not sure if we explicitly agr

[2019-01-21 18:18] cameel commented on #1077
This case can happen also due to factors other than desynchronization. As I explained in https://github.com/golemfactory/concent/issues/1060#issuecomment-456103402 this can happen if you simply receive a timestamp that's in the future from the client.

So if the timestamp is very close to the current time or is in the future we should ignore that exception even if the client is out of sync.

A `Va

[2019-01-21 18:19] cameel commented on #1077
BTW, @rwrzesien the list in point 2) in your description is not nested correctly.

[2019-01-21 23:08] rwrzesien commented on #1077
Yes, this is what I have meant by `during method call there are different exceptions`, but now as I have read it again it might sounds like `ValueError` with different code/message does not count here, I have updated the description.

[2019-01-21 23:15] rwrzesien commented on #1075
@cameel Sounds good. Apart from that, if we wanted to move monitoring of `SigningService` exceptions out of our Sentry we might just set `sentry_dsn` to a different one.

[2019-01-22 10:38] PaweuB commented on #1077
Pivotal:
https://www.pivotaltracker.com/story/show/163386324

[2019-01-22 10:44] PaweuB commented on #1078
Pivotal:
https://www.pivotaltracker.com/story/show/163386405

[2019-01-22 13:49] cameel commented on #1077
Actually your description was correct here, sorry for confusion. If `is_synchronized()` returns `True`, it's always safe to ignore this particular `ValueError`. It just means that the list of transactions is empty. If it returns `False`, we don't even call `get_first_block_after()` and return HTTP 502 immediately.

[2019-01-22 22:53] #1075 closed

[2019-01-23 09:45] PaweuB opened #1081 "AssertionError in Concent acceptance test in RequestorDoesntSendTestCase.test_already_processed test case"
Please investigate why this test case is not working properly.
This is high priority Issue from Golem Factory.

[code]

[2019-01-23 10:01] PaweuB commented on #1081
Pivotal:
https://www.pivotaltracker.com/story/show/163419036

[2019-01-24 13:11] Jakub89 commented on #1077
What does it mean "ignore"? Return `None` will cause errors later in code. And we can't return some default values, because sci functions returns different types of values. We would need separate decorators for `get_list_of_payments()` and `get_deposit_value()`.

[2019-01-24 13:17] rwrzesien commented on #1077
@Jakub89 Good question, I haven't thought about that. I think one of the solutions would be to add a retry with timeout here too.

@cameel What do you think?

[2019-01-24 15:49] cameel commented on #1077
For `get_first_block_after()` "ignore" means "silence the exception and behave as if it told you that there is no such block".

For `get_deposit_value()` - actually that's a good point. We can't really ignore it because we do need the deposit value. In that case let's not ignore it. It should just fail. Adding a call to `is_synchronized()` before it will make such a failure very unlikely anyway.

[2019-01-24 16:28] rwrzesien opened #1084 "Move relation between PendingResponse and PaymentInfo on the former"
Original source comment:
https://github.com/golemfactory/concent/pull/1073#discussion_r250290947

Move relation between `PendingResponse` and `PaymentInfo` on the `PendingResponse` and make it it a nullable `OneToOne` field.

Fix related usages (`message_handlers` and `payment_report`) and failing tests.

[2019-01-25 15:31] #1077 closed

[2019-01-28 09:37] kbeker commented on #1065
After discussed with @dybi we agreed that rest of refactor won't improve tests. So I'm closing

[2019-01-28 09:37] #1065 closed

[2019-01-29 11:53] #1084 closed

[2019-01-29 13:35] #1078 closed

[2019-01-29 14:57] dybi opened #1091 "Concent dosen't reject alredy paid acceptances"
**to reproduce:**
on `golem` branch `b0.19` run `scripts/concent_acceptance_tests/force_payment/test_payment.py::RequestorDoesntPayTestCase::test_provider_replay`

**expected:**
`ForcePaymentRejected` with reason: `NoUnsettledTasksFound`

**actual:**
`ServiceRefused` with reason `TooSmallRequstorDeposit`

[2019-01-29 14:57] dybi commented on #1091
pivotal link: https://www.pivotaltracker.com/story/show/163514656

[2019-01-30 12:21] #1091 closed

[2019-01-30 13:21] Jakub89 opened #1093 "Add more cluster_name split formatting in sci_testing_common.py"
There is a problem depending on how we type cluster name when running e2e tests. For `dev` we could just go with something like: `./api-e2e-force-payment.py devel.concent.golem.network --full_sci`, and everything works fine. For `staging` cluster name must be full `https://staging.concent.golem.network`, so current formatting looks for `https://staging` instead of `staging`.

[2019-01-31 12:06] PaweuB opened #1095 "`ConcentNodeTest::test_force_accept` in `/node_integration_tests/tests/test_concent.py` fails and rises `premature: still within the verification timeout`"
This Issue is reported from Golem Factory (@shadeofblue) and should be reproduced from Concent Node Integration Tests in:

```/scripts/node_integration_tests/tests/test_concent.py::ConcentNodeTest::test_force_accept```

This test fails and raises reason:

`premature: still within the verification timeout`

[2019-01-31 13:17] PaweuB commented on #1095
Pivotal:
https://www.pivotaltracker.com/story/show/163621653

[2019-01-31 13:20] dybi commented on #1081
Already done under different issue: #1091

[2019-01-31 13:20] #1081 closed

[2019-01-31 14:12] rwrzesien opened #1096 "Add constraint for 'task_id' and 'subtask_id' unique together in Subtask model"
Extracted from https://github.com/golemfactory/concent/pull/1080#discussion_r249848192.

Add constraint for 'task_id' and 'subtask_id' unique together in Subtask model and some tests for it.

[2019-02-01 06:41] #1056 closed

[2019-02-01 12:50] dybi commented on #1095
seems it has been fixed in `golem`

[2019-02-01 12:50] #1095 closed

[2019-02-04 10:33] #832 closed

[2019-02-04 11:43] #803 closed

[2019-02-04 11:51] #1018 closed

[2019-02-11 11:27] PaweuB opened #1101 "`OperationalError` could not connect to server: Connection refused"
Sentry rises exception in environment: concent-testnet.
Please investigate and resolve exception due to our workflow.

[code]

More details specified as provided below:
https://talkback.golem.network/share/issue/5f7c93415fca465abc0afcc76d15496f/

[2019-02-11 11:28] PaweuB commented on #1101
Pivotal:
https://www.pivotaltracker.com/story/show/163861686

[2019-02-11 14:42] kbeker commented on #1101
Problem is not related with our machines. Most likely, this is a problem related to the temporary unavailability of the database service (from what is seen in the exception of sentry is about 2 minutes). We are closing it now. If the problem repeats in future then we will pay attention to it.

[2019-02-11 14:42] #1101 closed

[2019-02-12 10:57] PaweuB commented on #1096
@rwrzesien Is it still a valid issue?

[2019-02-12 11:03] rwrzesien commented on #1096
@PaweuB Yes, but low priority.

[2019-02-12 14:43] cameel opened #1103 "Test Concent behavior when Geth is out of sync"
We need to make sure that Concent does not hang and time out when Geth is out of sync. @bartoszbetka reports that it does happen now. This might be caused by our readiness probe, which is going to be removed in https://github.com/golemfactory/concent-deployment/issues/341.

After #1077 Concent should be able to detect desynchronizations on its own so the probe is not necessary.

When the probe is

[2019-02-13 10:24] kbeker opened #1104 "New messages from client which already used Concent Service on older GM version are rejected"
Currently, when Concent had Golem Messages in version e.g. `2.15.0` and the client used his service, then every new message which will be sent by the same client in newer Golem Messages version will be rejected because of messages which were send on GM `2.15.0` and are stored in database. This need to be fixed.

[2019-02-13 10:26] PaweuB opened #1105 "`ConcentNodeTest::test_force_accept` in `/node_integration_tests/tests/test_concent.py` fails and raises `premature: still within the verification timeout`."
This Issue is provided by *Golem Factory*.
In node integration tests: `scripts/node_integration_tests/tests/test_concent.py`

in test: `ConcentNodeTest::test_force_accept`
traceback returned is:
```Provider<->Concent comms failure: DEBUG    [golem.network.transport.message    ] Deserialization class found. class=<class 'golem_messages.message.concents.ForceSubtaskResultsRejected'>```
and rises rea

[2019-02-13 10:47] cameel commented on #1104
I think each client should only see messages compatible with its own version.

One small problem is that it's a bit misleading to tell the client that there are no more messages to receive when there are messages meant for other versions. We could indicate it with a HTTP header (e.g. `Concent-Incompatible-Messages-Available: 0.2.13`). I doubt a Golem client will ever use this so it's optional to i

[2019-02-13 15:48] cameel opened #1106 "Pending messages in older versions block receiving any other messages from `receive/`"
Blueprint #857 states the following with regard to a client communicating with the `receive/` endpoint:

This is unfortunately not viable in practice. It makes it impossible to receive any messages from Concent in the situation where one updates his Golem client to a newer, incompatible version while there are still pending messages. The pending older messages stand in the way of newer ones but th

[2019-02-13 17:10] Jakub89 commented on #1069
Just for the record about time it take, to generate whole report on `GETH_ADDRESS = 'https://rinkeby.golem.network:55555'`:
[code]
Every requestor-provider pair needs 5 sci calls, where each takes 2-4 second(on my potato laptop).
`total time` include also all the database calls in `create_report()` from both pairs , which takes around 0.1 second.

[2019-02-14 13:11] dybi commented on #1103
works!

[2019-02-14 13:11] #1103 closed

[2019-02-15 09:14] cameel opened #1108 "Update dependencies to the latest versions"
It's been some time since we did it last time in #554. We're now using an insecure version of Django and possibly of other packages too.

Please read that issue first. See also https://github.com/Code-Poets/coding-style/issues/12. Then update all our `requirements.lock` files so that they use the latest versions and retest the code. This includes `concent_api`, `signing_service`, `middleman_protoc

[2019-02-15 09:19] PaweuB commented on #1108
Pivotal:

[2019-02-18 16:21] #1106 closed

[2019-02-18 16:28] kbeker commented on #1106
@cameel At the end I did not implement point 3 of your issue because I'm sure of that it won't be use by GolemApp. If they will want to have information like this I will add it.

[2019-02-18 16:35] kbeker commented on #857
@cameel `/receive` end-point now have 2 queries to database to match messages for client. Clients will get only messages which are compatible with `Concent Service` and `Golem Client`. Any older messages which waits in database for him as `not delivered` will wait there until Client contact with`Concent` with appropriate GolemMessages version.

[2019-02-18 16:35] kbeker commented on #139
@cameel `Subtask` model now has additional field `protocol_version` which contains version of messages related to given subtask.

[2019-02-19 11:12] rwrzesien opened #1111 "Make GOLEM_MESSAGES_VERSION constant instead of Django setting"
Extracted from comment https://github.com/golemfactory/concent/pull/1107#discussion_r257958934.

Move GOLEM_MESSAGES_VERSION constant instead of Django setting, as it is calculated by custom function.

[2019-02-20 13:58] kbeker commented on #953
Issue is already closed

[2019-02-20 13:58] #953 closed

[2019-02-22 10:31] cameel opened #1120 "Concent is hard-coded for rinkeby"
`PaymentsInterface`'s constructor always tells golem-smart-contracts-interface to use the Rinkeby chain when it's being initialized:

https://github.com/golemfactory/concent/blob/89e3c961779dc3e3145ee6bc08304eee1d310bf4/concent_api/core/payments/payment_interface.py#L21-L40

This will not work on the mainnet. We need a setting for this. The setting should have no default. If it's not set explicitl

[2019-02-26 10:08] #1120 closed

[2019-02-26 14:57] Jakub89 opened #1122 "[Payment Report]"Many Golem-Messages" handler"
Related to [this comment](https://github.com/golemfactory/concent/pull/1116#discussion_r260268366). Concent accept two version of GM on `testnet`, and also it's possible that database will not be flushed after version update, so parts of code like:
[code]
can fail or show incorrect data, because we deserialize using one version of `golem-messages`.

[2019-02-27 06:53] dybi commented on #1105
fixed by: https://github.com/golemfactory/golem/pull/3904

[2019-02-27 06:53] #1105 closed

[2019-03-01 11:33] #842 closed

[2019-03-22 12:41] cameel opened #1127 "Downloading parts of blender_verifier image for use in development"
In https://github.com/golemfactory/concent-deployment/pull/361 we have switched to Golem's new blender image (`blender_verifier:1.1`). The new image now accepts invidividual task parameters and renders a helper script for blender from a template instead of expecting to get the script from the outside (until now it was being sent in `TaskToCompute`). This is safer and allows Concent to start Blende

[2019-03-29 15:53] #1127 closed

[2019-04-08 09:58] Jakub89 opened #1131 "Can't deserialise 'SubtaskResultsSettled' from old GM version"
Issue related to: https://github.com/golemfactory/concent/pull/1130

Supporting 2 version of Golem Messages doesn't work correctly when tests are run alternately.
On clear database I've run `api-e2e-additional-verification-test.py` with GM 2.24.3 it passed. Then the same test with GM 3.3 also passed. But after that, running `api-e2e-additional-verification-test.py` with GM 2.24.3 returns `deserial

[2019-05-20 09:27] dybi commented on #278
seems outdated - closing

[2019-05-20 09:27] #278 closed

[2019-05-20 10:45] dybi commented on #365
all questions seem to be answered, thus issue seems to be no longer valid - closing

[2019-05-20 10:45] #365 closed

[2019-05-20 10:46] dybi commented on #382
a separate issue has been created in proper repository - closing

[2019-05-20 10:46] #382 closed

[2019-05-20 10:55] dybi commented on #509
no longer valid: requirement added in: c2ec325c72db8cac8df6f778de387dab161ff89a

[2019-05-20 10:55] #509 closed

[2019-05-20 10:58] dybi commented on #594
does not reproduce - closing

[2019-05-20 10:58] #594 closed

[2019-05-20 11:06] dybi commented on #862
not reproducible, probably fixed in: https://github.com/golemfactory/concent/pull/866 - closing

[2019-05-20 11:06] #862 closed

[2019-05-20 11:08] dybi commented on #943
solved by `--full_sci` option - closing

[2019-05-20 11:08] #943 closed

[2019-05-20 11:14] dybi commented on #1104
not valid anymore - it has been agreed that msg flow connected with one `subtask_id` must happen using one version of golem messages; if client updated "in the meantime", it's taking all the risk

[2019-05-20 11:14] #1104 closed

[2019-05-21 09:41] Jakub89 commented on #26
Based on last comment, I think we can close this issue.

[2019-05-21 09:41] #26 closed

[2019-05-21 09:44] #73 closed

[2019-05-21 09:50] Jakub89 commented on #70
This looks like a very outdated issue. Tests in general come a long way since January 2018. If some refactor is still necessary, new issue for specific test case should be created.

[2019-05-21 09:50] #70 closed

[2019-05-21 15:37] cameel opened #1140 "Concent does not validate reason in SubtaskResultsRejected"
Concent should treat `SubtaskResultsRejected` message submitted by the requestor as invalid if the `reason` does not make sense. As stated in https://github.com/golemfactory/golem/issues/4217:

Add validations for this case.

Note that https://github.com/golemfactory/golem-messages/issues/346 referenced in b) will make it possible for the requestor to include `ForceGetTaskResultFailed` along with

[2019-05-29 11:57] shadeofblue commented on #1140
@cameel possibly those bugs could partially be addressed in golem-messages

[2019-05-29 12:01] shadeofblue commented on #1140
anyway, you should be unblocked here: https://github.com/golemfactory/golem-messages/releases/tag/v3.6.0

[2019-05-29 14:23] cameel commented on #1140
Whether the reason is present and has a valid value - yeah, that's something that's best done in GM. Only validating whether the reason is appropriate for the use case really needs to be in Concent.

[2019-06-06 15:44] Jakub89 commented on #1140
@cameel @shadeofblue if only `VerificationNegative` and `ForcedResourcesFailure` are allowed for `SubtaskResultsRejected` in concent, what's the point for `ConcentResourcesFailure` and `ConcentVerificationNegative` REASONs Enum?

[2019-06-07 11:23] cameel commented on #1140
[code]

`ConcentResourcesFailure` and `ConcentVerificationNegative` are meant to be used in rejections issued by Concent. It's technically possible for the requestor to use them but if he does, his rejection does not make sense.

BTW, I just realized that this check could be made a validation in golem-messages. Currently we're just treating every reason as a separate thing and deciding which makes

[2019-06-07 11:34] Jakub89 commented on #1140
@cameel I've done only simple verification for `SubtaskResultsRejected` #1143 . Let's do the rest of them in separate issue/PR after further discussion maybe?

[2019-06-10 08:50] dybi commented on #1140
@cameel @shadeofblue

Seems reasonable. @shadeofblue is it possible to have it? And if so, who is going to implement it (CP or Golem Team)?

[2019-06-11 08:57] #1140 closed

[2020-01-28 12:48] Jakub89 opened #1161 "ValidationError {'SubtaskResultsRejected': ['Nested ReportComputedTask message must be the same as ReportComputedTask stored separately']}"
https://talkback.golem.network/sentry/concent/issues/72930/

We were able to reproduce this bug on `dev` cluster, by running test where report_computed_task was different between messages.
PR: #1159

This means that bug is somewhere on golem application side, but we could handle it differently. We are waiting for golem team to reply.

[2020-01-28 12:53] Jakub89 opened #1162 "[Errno 2] No such file or directory: ..."
https://talkback.golem.network/sentry/concent/issues/72950/

https://talkback.golem.network/sentry/concent/issues/72949/

[2020-01-29 09:58] Jakub89 commented on #1162
another one:
https://talkback.golem.network/sentry/concent/issues/73082/

[2020-02-04 13:07] #1161 closed

[2020-03-05 10:42] Jakub89 opened #1169 "AssertionError /api/v1/receive/"
https://talkback.golem.network/sentry/concent/issues/73470/

`core/payments/bankster.py` in `finalize_payment` at line 186
[code]